{%extends "MyAppCrediWireBundle:Default:index.html.twig"%}
{%block stylesheets %}
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }
        .form-control{
            margin-bottom: 15px
        }

    </style>
{%endblock%}
{%block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h1>Project creation</h1>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form ,{ 'attr': {'class': 'form-group form-signin'}  }) }}
                        {{ form_widget(form.projectName) }}
                        {{ form_widget(form.endDate) }}
                        {{ form_widget(form.startDate) }}
                        {{ form_widget(form.owner_id, {'value' : id}) }}
                        {{ form_row(form.submit, { 'attr': {'class': 'btn btn-primary'} },{ 'label': 'Submit' }) }}
                        {{ form_end(form) }}


                        <a href="{{ path('MyApp_CrediWire_homepage') }}" class="btn btn-default">
                            Back to the list
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}
